<div class="wishlist-icon">
  <div>
    WWWWW
    
  </div>
  <div class="wishlist-svg">
    <svg viewBox="0 0 200 200">
      <path d="M100,30 
               C120,-20 200,20 100,130 
               C0,20 80,-20 100,30" />
    </svg>
  </div>
</div>



<style>
.wishlist-svg{
  width: 50px;
  height: 50px;
}
</style>
{% schema %}
{
  "name": "Wishlist Icon",
  "target": "section",
  "text": "Wishlist",
  "settings": [
    { "type": "product", "id": "product", "label": "product", "autofill": true },
    { "type": "color", "id": "colour", "label": "Star Colour", "default": "#ff0000" }
  ]
}
{% endschema %}

